.teamMatchMainContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  height: 3600px;
  width: 100%;
}

.teamMatchInsideContainer {
  margin-top: 25px;
  width: 75%;
}
.teamMatchImg {
  width: 100%;
  border-radius: 8px;
  height: 280px;
}
.teamNameInTeamMatch {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.unorderedList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.kkr {
  background-image: linear-gradient(#5755a7, #0f172a);
}
.rcb {
  background-image: linear-gradient(#d91c1f, #0f172a);
}
.kxp {
  background-image: linear-gradient(#da237b, #0f172a);
}
.mi {
  background-image: linear-gradient(#13418b, #0f172a);
}
.sh {
  background-image: linear-gradient(#f26d22, #0f172a);
}
.rr {
  background-image: linear-gradient(#4f5db0, #0f172a);
}
.dc {
  background-image: linear-gradient(#4f5db0, #0f172a);
}
.csk {
  background-image: linear-gradient(#f7db00, #0f172a);
}

@media (max-width: 576px) {
  .teamMatchInsideContainer {
    width: 95%;
  }
  .teamMatchMainContainer {
    height: 4100px;
  }
  .teamMatchImg {
    height: 180px;
  }
}
